<h2>Creating a new artist</h2>
<form method="POST" action="/artists">
<ol>
    <li><p>Name: <input name="name" type="text"></p></li>
    <li><p>Age: <input name="age" type="text"></p></li>
    <li><p>Bio: <input name="bio" type="text"><p></li>
    </ol>
    <input type="submit">
</form>